.message {
    width: 95%;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px;
    background: #74b9ff;
    color: #fff;
    position: relative;
    &:after {
        content: '';
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: -14px;
        bottom: 4px;
        width: 7px;
        height: 7px;
        border: 7px solid transparent;
        border-right: 7px solid #74b9ff;
    }
    &-name {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &-txt {
        margin: 0;
    }
}